﻿html {
    direction: rtl;
}

.center, footer {
    min-height: 80px;
    border: 2px solid darkorange;
}

header {
}

.header_top {
}



.main_nav {
    background-color: darkorange;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
    
    .main_nav img {
        margin-right: 70px;
        margin-left: 70px;
    }

    .main_nav p {
        font-size: 100px;
        margin: 5px 30px;
        margin-bottom: 15px;
        color: orangered;
    }

    .main_nav a {
        text-decoration: none;
        font-size: 35px;
        color: black;
        margin: 30px;
        transition: color 0.3s;
        display: block;
    }
    .main_nav a:hover {
        color: red;
    }



.center {
    background-color: whitesmoke;
    margin-bottom: 5px;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: white;
    flex: 4;
    color: black;
    padding: 5px 350px;
    text-align: center;
    margin-left: 10px 200px;
    border-bottom-right-radius: 15px;
    align-items: center;
}

    main h2 {
        margin-top: 60px;
    }


aside {
    background-color: whitesmoke;
    flex: 1;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 15px;
}

footer {
    background-color: darkorange;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
}

.aside_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

#DateLabel {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#DayImage {
    width: 300px;
}

main iframe {
    display: block;
}

figure {
    display: inline-block;
    margin: 15px;
    text-align: center; 
}

figcaption {
    font-size: 11px;
    color: lightslategray;
    margin-top: 8px; 
}

figure img {
    border-radius: 15px;
    display: block;
    width: 600px;
}

main iframe {
    display: block;
    margin: 30px auto;
    border-radius: 15px;
}


.page-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.page-nav li {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}


.page-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 25px;
    display: block;
}

    .page-nav a:hover {
        color: orangered;
    }


aside {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}



.adminTable, .adminTable th, .adminTable td {
    border: 5px solid orange;
}

.login_logout, #admin {
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
    text-decoration: none;
}


    .login_logout:hover, #admin:hover {
        color: orangered;
    }

#admin {
    margin-top: 15px;
}

.profile {
    padding: 30px;
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
}



.login {
    text-align: center;
    margin: 50px auto;
    font-size: 32px;
    padding: 40px;
    max-width: 500px;
}

    .login label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 18px;
        color: black;
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: 400px;
        padding: 12px;
        margin-bottom: 20px;
        font-size: 18px;
    }



    .login input[type="submit"] {
        background-color: darkorange;
        border: none;
        padding: 12px;
        font-size: 20px;
        border-radius: 8px;
        font-weight: bold;
        transition: background-color 0.3s;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .login input[type="submit"]:hover {
            background-color: orangered;
        }

.registration {
    text-align: center;
    margin: 50px auto;
    font-size: 32px;
    padding: 40px;
    max-width: 500px;
}


    .registration label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 18px;
        color: black;
    }


.registration input[type="text"],
.registration input[type="password"] {
    width: 400px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
}


.registration .inline-label {
    display: inline;
    margin:15px;
}

.registration .submit-btn {
    background-color: darkorange;
    border: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.registration .submit-btn:hover {
        background-color: orangered;
}



.link {
    color: black;
    text-decoration: none;
}


    .link:visited {
        color: black;
    }


    .link:hover {
        color: orangered;
        text-decoration: underline;
    }

.adminbutton {
    background-color: darkorange;
    border: none;
    font-size: 10px;
    border-radius: 8px;
    font-weight: bold;
    width: 80px;
    height: 25px;
}
