﻿html {
    direction: rtl;
}

.center, footer {
    min-height: 80px;
    border: 2px solid darkorange;
}

header {
}

.header_top {
}



.main_nav {
    background-color: darkorange;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
    
    .main_nav img {
        margin-right: 70px;
        margin-left: 70px;
    }

    .main_nav p {
        font-size: 100px;
        margin: 5px 30px;
        margin-bottom: 15px;
        color: orangered;
    }

    .main_nav a {
        text-decoration: none;
        font-size: 35px;
        color: black;
        margin: 30px;

    }


.center {
    background-color: lime;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: white;
    flex: 4;
    color: black;
    padding: 5px 350px;
    text-align: center;
    margin-left: 10px 200px;
}

    main h2 {
        margin-top: 60px;
    }


aside {
    background-color: whitesmoke;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: darkorange;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.aside_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#DateLabel {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#DayImage {
    max-width: 300px;
    height: auto;
    display: block;
}
